$surfaceColor: #1a1c1e;

$primaryColor: #8aceff;
$onPrimaryColor: #00344d;

$primaryContainerColor: #004c6e;
$onPrimaryContainerColor: #c9e6ff;

$secondaryColor: #b7c9d9;
$onSecondaryColor: #21323f;

$onSurfaceColor: #e5e1e6;
