@use "../../../scss/mixins.scss";

button.material {
    display: flex;
    align-items: center;
    border: none;
    height: 40px;
    width: max-content;
    border-radius: 20px;
    padding-inline: 16px 22px;
    gap: 8px;
    transition: 0.3s;
    @include mixins.clickable;
    
    span.material-symbols-outlined {
        font-size: 18px;
    }
    
    p {
        margin: 0;
        @include mixins.button-font;
    }
    
    &:focus {
        outline: 0;
    }
    
    &:hover {
        opacity: 0.75;
    }
    
    &.filled {
        background-color: var(--primary-color);
        color: var(--background-color);
    }
    
    &.tonal {
        background-color: var(--secondary-color);
        color: var(--text-color);

        &.confirm::before {
            background-color: var(--primary-color);
        }
    }
    
    &.text {
        color: var(--primary-color);
        @include mixins.text-button;
        
        &.confirm::before {
            background-color: var(--primary-color);
        }
    }
    
    &.error {
        color: var(--error-color);
        @include mixins.text-button;

        &.confirm::before {
            background-color: var(--error-color);
        }
    }
    
    &.FAB {
        background-color: var(--primary-color);
        color: var(--background-color);
        
        @media only screen and (max-width: 900px) {
            position: fixed;
            bottom: calc(-100vh + 72px + 18px);
            right: 18px;
            height: 56px;
            border-radius: 16px;
            
            &:hover {
                opacity: 1;
            }
        }
    }

    &.confirm {
        position: relative;
        overflow: clip;

        &::before {
            content: "";
            position: absolute;
            width: var(--button-width, 0%);
            left: 0;
            opacity: 0.25;
            height: 40px;
        }
    }
    
    &.outlined {
        border: 1px solid var(--outline-color);
        padding-inline: 16px 22px;
    }
}
