.search {
    background-color: var(--md-sys-color-elevation3);
    color: var(--md-sys-color-on-surface);
    height: 40px;
    border-radius: 40px;
    display: flex;
    transition: 0.3s;
}

.search:focus-within, .search:hover {
    background-color: var(--md-sys-color-elevation5);
}

.search .material-icons {
    margin: 8px 12px;
    margin-right: 8px;
    user-select: none;
}

.search input {
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
    border: 0;
    height: 40px;
    width: max(min(35vw, 250px), 120px);
    box-sizing: border-box;
    display: block;
}

.search input:focus {
    outline: 0;
}

.search img {
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 4px;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}
