@use "../../../scss/mixins.scss";

.dialog.details {
    .row {
        user-select: none;
        display: flex;
        height: 56px;
        gap: 8px;
        font-size: 16px;
        align-items: center;
        
        p {
            @include mixins.text-overflow;
            max-width: 80%;
        }
        
        span {
            font-size: 18px;
            color: var(--primary-color);
            @include mixins.clickable;
        }
    }
}
