input, textarea {
    &.material-input {
        all: unset;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--secondary-color);
        height: 56px;
        border-radius: 12px 12px 0 0;
        border-bottom: 2px solid var(--secondary-variant-color);
        padding-inline: 16px;
        font-size: 16px;
        transition: 0.3s;
        
        &.textarea {
            height: 100px;
            padding: 12px 16px;
            white-space: pre-wrap;
            line-height: 24px;
        }
    }
    
    
    &:focus {
        border-bottom: 2px solid var(--primary-color);
    }
}
