input.material-input {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    height: 56px;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid var(--secondary-variant-color);
    padding-inline: 16px;
    font-size: 16px;
    transition: 0.3s;
    
    &:focus {
        border-bottom: 2px solid var(--primary-color);
    }
}
