.search-input {
    all: unset;
    width: 250px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
}

.pill-icon {
    user-select: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    span.material-icons {
        font-size: 22px;
    }
}
