.Passwords {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 16px;
    margin-top: 72px;
    padding: 16px;
}

@media only screen and (max-width: 500px) {
    .Passwords {
        grid-template-columns: 1fr;
    }
}
