@use "../reuse/Variables.scss";
@use "../reuse/Elevation.scss";

.TopBar {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: Variables.$surfaceColor;

    @supports (backdrop-filter: blur(12px)) {
        background-color: rgba(Variables.$surfaceColor, 0.75);
        backdrop-filter: blur(12px);
    }

    p {
        width: fit-content;
        height: 40px;
        margin: 0;
        margin-left: 8px;
        line-height: 40px;
        font-size: 24px;
        font-weight: bold;
    }
}
