.passwords {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 16px;
    padding: 16px;
    padding-top: 72px;
    
    @media (max-width: 900px) {
        padding-inline: 12px;
        grid-gap: 12px;
    }
    
    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
    
    @media only screen and (max-width: 900px) {
        padding-bottom: 88px;
    }
}
