.real-photo, .fake-photo {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.fake-photo {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
}
