main {
    width: 100%;
}

section {
    width: min(100%, 960px);
    box-sizing: border-box;
    height: 100vh;
    margin-inline: auto;
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    
    @supports (height: 100dvh) {
        height: 100dvh;
    }
    
    h1 {
        font-size: 48px;
        font-weight: 300;
        color: var(--primary-color);
        margin: 0;
    }
    
    p {
        font-size: 16px;
        margin: 0;
    }
    
    div.buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    
    p.instance {
        opacity: 0.5;
        font-style: italic;
        margin-top: -28px;
    }
}

#home-mobile-button {
    display: none;
}

@media only screen and (max-width: 900px) {
    #home-desktop-button {
        display: none;
    }
    
    #home-mobile-button {
        display: flex;
    }
}
