@use "../../../scss/mixins.scss";

.dialog.new {
    label {
        padding-left: 4px;
    }
    
    .card {
        margin-top: 0 !important;
        
        .row {
            user-select: none;
            display: flex;
            height: 42px;
            gap: 8px;
            align-items: center;
            margin-top: 0;
            
            p {
                font-size: 14px;
            }
            
            span {
                font-size: 20px;
                color: var(--primary-color);
                @include mixins.clickable;
            }
            
            &.expand {
                > input {
                    display: block;
                    flex-grow: 1;
                    margin-left: 16px;
                }
                
                @media (max-width: 900px) {
                    flex-direction: column;
                    height: auto;
                    
                    > * {
                        width: 100%;
                        margin-bottom: 0;
                    }
                    
                    > input {
                        margin-bottom: 8px;
                        margin-left: 0;
                    }
                }
            }
        }
        
        .action {
            display: flex;
            justify-content: flex-start;
            margin-top: 8px;
        }
    }
}

input[type="range"] {
    appearance: none;
    border-radius: 99px;
    height: 6px;
    background: var(--secondary-variant-color);
    
    &:focus {
        outline: 0;
    }
    
    @mixin thumb-settings {
        border: 0;
        height: 16px;
        width: 16px;
        cursor: pointer;
        border-radius: 99px;
        background: var(--primary-color);
    }
    
    @mixin progress-settings {
        border-radius: 99px;
        height: 6px;
        background-color: var(--primary-color);
    }
    
    &::-moz-range-thumb {
        @include thumb-settings;
    }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -5px; 
        @include thumb-settings;
    }
    
    &::-moz-range-progress {
        @include progress-settings;
    }
    
        
    &::-webkit-slider-runnable-track {
        @include progress-settings;
    }
}
