@use "../../../scss/mixins.scss";

.search-input{
    all: unset;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    padding-right: 16px;
    @include mixins.button-font;
    
    &.mobile {
        width: 35vw;
        padding-right: 0;
    }
}

.pill-icon {
    user-select: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    span.material-icons-outlined {
        font-size: 22px;
    }
}

header div.container {
    .pill.mobile-components {
        display: none;
    }
    
    @media only screen and (max-width: 900px) {
        .pill.mobile-components {
            display: flex;
        }
        
        .pill.desktop-components {
            display: none;
        }
    }
}
