.Container {
    height: 36px;
    width: 200px;
    background-color: #1a73e8;
    border-radius: 99px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.Image-Container {
    height: 36px;
    width: 36px;
    background-color: white;
    border-radius: 99px;
}

.Image-Container > img {
    height: 16px;
    width: 16px;
    padding: 10px;
}

.Container > p {
    float: right;
    color: white;
    font-family: Arial;
    font-weight: 600;
    margin-left: 10px;
    font-size: 14px;
}
