.scrim {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0, 0.4);
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100vw - 32px, 500px);
    z-index: 3;
    padding: 24px;
    border-radius: 28px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-dialog);
}

.dialog .content {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.dialog .content input {
    all: unset;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 4px;
    padding: 0 16px;
    height: 56px;
    border: 2px solid #79747E;
    transition: 0.3s;
}

.dialog .content input:focus {
    border: 2px solid var(--md-sys-color-primary);
}

.dialog .actions {
    display: flex;
    justify-content: flex-end;
}
