.loading {
    position: fixed;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation: loading 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
    border: 4px solid transparent;
    border-color: var(--primary-color) transparent var(--primary-color) var(--primary-color) ;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }
    
    100% {
        rotate: 1440deg;
    }
}
