div.snackbar {
    position: fixed;
    z-index: 4;
    bottom: 24px;
    height: 48px;
    padding-inline: 16px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 4px;
    box-sizing: border-box;
    width: min(100vw - 48px, 450px);
    left: 24px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    
    @media only screen and (max-width: 900px) {
        &.extra-space {
            bottom: 88px;
        }
    }
    
    &.open {
        opacity: 1;
    }
}
