.Marketing {
    display: flex;
    align-items: center;
    padding: 64px;
    gap: 32px;

    img {
        width: 50%;
    }

    .Texts {
        .Title {
            font-size: 48px;
        }
    
        .Subtitle {
            margin-top: 8px;
            font-size: 20px;
            opacity: 0.75;
        }
    
        .Info {
            margin-top: 64px;
            font-size: 32px;
        }
    }
}
