@use "../reuse/Elevation.scss";
@use "../reuse/Variables.scss";

$pageWidth: 1200px;
$mobileWidth: 700px;

.Marketing {
    width: $pageWidth;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;

    @media only screen and (max-width: $pageWidth) {
        width: 100%
    }

    section {
        padding: 20vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;

        @media only screen and (max-width: $mobileWidth) {
            padding: 64px 0;
            flex-direction: column;
            justify-content: normal;
            align-items: flex-start;
            gap: 32px;

            &:nth-of-type(odd) {
                flex-direction: column-reverse;
            }
        }

        img {
            width: calc(100px + 25%);
            flex-shrink: 0;

            @media only screen and (max-width: $mobileWidth) {
                width: 100%
            }
        }
    
        .Texts {
            flex-grow: 1;
            padding: 48px;

            @media only screen and (max-width: $mobileWidth) {
                padding: 16px;
            }
    
            .Title {
                font-size: 32px;
                color: Variables.$primaryColor;
            }
    
            .Info {
                margin-top: 16px;
                font-size: 18px;
            }
        }

        &:first-child {
            .Title {
                font-size: 45px;
            }

            .Info {
                margin-top: 32px;
                font-size: 22px;
            }
        }
    }

    .separator {
        @include Elevation.elev2;
        height: 5px;
        border-radius: 5px;
    }
}