@use "../reuse/Elevation.scss";
@use "../reuse/Variables.scss";

.PasswordCard {
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0;
    transition: 0.3s;
    @include Elevation.elev1;

    .Name {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        
        font-weight: bold;
        font-size: 20px;
    }

    .Info {
        padding: 16px 0;
        font-size: 16px;
    }

    .Actions {
        float: right;

        button {
            all: unset;
            height: 40px;
            border-radius: 20px;
            font-weight: bold;
            padding: 0 24px;
            margin-right: 8px;
            font-size: 14px;
            transition: 0.3s;
            cursor: pointer;
            color: Variables.$primaryColor;
        }
    
        button:hover  {
            background-color: rgba(Variables.$primaryColor, 0.08);
        }
    }
}

.PasswordCard:hover {
    @include Elevation.elev2;
}
