@use "../reuse/Variables.scss";
@use "../reuse/Elevation.scss";

.Search {
    @include Elevation.elev3;
    color: Variables.$onSurfaceVariantColor;
    height: 40px;
    border-radius: 40px;
    margin-left: 16px;
    display: flex;

    .material-icons {
        margin: 8px 12px;
        margin-right: 8px;
        float: left;
    }

    input {
        @include Elevation.elev3;
        color: Variables.$onSurfaceVariantColor;
        border: 0;
        height: 40px;
        width: 200px;
        box-sizing: border-box;
        display: block;
    }

    input:focus {
        outline: 0;
    }

    img {
        margin-left: 8px;
        margin-right: 4px;
        margin-top: 4px;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        cursor: pointer;
    }

    img:hover {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 500px) {
    .Search {
        input {
            width: 100px;
        }
    }
}
