.pill {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    height: 40px;
    border-radius: 40px;
    display: flex;
    padding-right: 16px;
    transition: 0.3s;
    align-items: center;
}

.pill:focus-within, .pill:hover {
    background-color: var(--md-sys-color-elevation5);
}

.pill .material-icons {
    margin-left: 12px;
    margin-right: 8px;
    user-select: none;
}

.pill img, .pill div.fake-photo {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.pill input {
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
    border: 0;
    height: 40px;
    box-sizing: border-box;
    display: block;
}
    
.pill input:focus {
    outline: 0;
}

input[type="range"] {
    appearance: none;
    border-radius: 99px;
    height: 6px;
    background-color: var(--md-sys-color-secondary-container);
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    appearance: none;
    outline: 0;
    border: 0;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border-radius: 99px;
    background: var(--md-sys-color-primary);
}
