@mixin elev1 {
    background-color: #202429;
}

@mixin elev2 {
    background-color: #24292f;
}

@mixin elev3 {
    background-color: #282f36;
}

@mixin elev4 {
    background-color: #2a3139;
}

@mixin elev5 {
    background-color: #2c343d;
}
