@mixin clickable {
    user-select: none;
    cursor: pointer;
}

@mixin button-font {
    font-size: 14px;
    font-weight: 500;
}

@mixin text-button {
    background-color: unset;
    padding-inline: 10px 14px;
    
    &:hover {
        background-color: var(--secondary-color);
    }
}

@mixin text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin custom-scroll {
    & {
        overflow-y: auto;
    }
    
    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        opacity: 0.5;
    }
}
