@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
    --text-color: #111518;
    --background-color: #f2f3f5;
    --accent-color: #527a53;
    --primary-color: #0061a6;
    --secondary-color: #cedbeb;
    --secondary-variant-color: #e1e8f0;
    --error-color: #a60000;
}

[data-theme="dark"] {
    --text-color: #f0f0f0;
    --background-color: #141414;
    --accent-color: #a3c2a4;
    --primary-color: #a0c9ff;
    --secondary-color: #2a323d;
    --secondary-variant-color: #212429;
    --error-color: #ffa0a0;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    margin: 0;
    font-size: 16px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}
