$surfaceColor: #1a1c1e;
$onSurfaceColor: #e5e1e6;

$primaryColor: #8aceff;
$onPrimaryColor: #00344d;

$primaryContainerColor: #004c6e;
$onPrimaryContainerColor: #c9e6ff;

$secondaryColor: #b7c9d9;
$onSecondaryColor: #21323f;

$onSurfaceVariantColor: #c9c5d0;

@mixin clickable {
    user-select: none;
    cursor: pointer;
}
