.password-card .content p {
    margin: 0;
}

.password-card .content .title {
    font-size: 18px;
    margin-top: 4px;
}

.password-card .content .url {
    margin-top: 4px;
    color: var(--md-sys-color-primary);
    font-size: 12px;
    user-select: none;
}

.password-card .content .username {
    margin-top: 16px;
    font-size: 16px;
}

.password-card .content .empty {
    opacity: 0.5;
}

.password-card .content > p > a {
    color: var(--md-sys-color-primary);
}

.password-card .content a > span {
    font-size: 12px;
    margin-left: 4px;
    vertical-align: sub;
}

.password-card .actions {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
